extends ../layout

block content
  .signInBubble 
    .leftForm
      h2 Forgot Password?
      p Enter your email address below and we will send you password reset instructions.
      form(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group.row
          .col-md-7
            input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, autocomplete='email', required)
        .form-group.offset-sm-3.col-md-7.pl-2
          button.btn.btn-primary#submitButtonSignUp(type='submit')
            i.fas.fa-key.fa-sm
            | Reset Password
    .rightForm