extends ../layout

block content
  .signInBubble
    .leftForm
      h2 Welcome back!
      p Welcome back. Please type in your authenticated credentials in order to access the secure platform.
      form(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group.row
          .col-md-7
            input.form-control.inputSet(type='email', name='email', id='email', placeholder='Email', autofocus, autocomplete='email', required)
        .form-group.row
          .col-md-7
            input.form-control.inputSet(type='password', name='password', id='password', placeholder='Password', autocomplete='current-password', required)
        .form-group
          .col-md-7
            button.btn.btn-primary#submitButton(type='submit')
              | Login
            a.btn.btn-link.forgotPass(href='/forgot') Forgot your password?
        .form-group
          .offset-sm-3.col-md-7.pl-2
            hr
    .rightForm
