extends ../layout

block content
  .signInBubble
    .leftForm
      h2 Let's get started!
      p Tell us a bit about yourself, and how we can reach you and get started with the most robust document verification platform.
      form(id='signup-form', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group.row
          .col-md-7
            input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, autocomplete='email', required)
        .form-group.row
          .col-md-7
            input.form-control(type='password', name='password', id='password', placeholder='Password', autocomplete='new-password', required)
        .form-group.row
          .col-md-7
            input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', autocomplete='new-password', required)
        .form-group.offset-sm-3.col-md-7.pl-2
          button.btn.btn-success#submitButtonSignUp(type='submit')
            i.fas.fa-user-plus.fa-sm
            | Signup
    .rightForm