extends layout

block content
    .centered
        .statusHeader
            h1 DocuSign Dashboard
            p Authenticate your existing and new DocuSign documents directly from our IPFS platform. Utilise the upload function and metamask to enable the connection to the Ethereum blockchain.
        iframe(src="http://localhost:8000/index.html", width="100%", height="600px")