extends layout

block content
    .centered
        .statusHeader
            h1 Documentation
            p The following is the server documentation that can be used for external REST API calls. To integrate the credibility verification methods, simply invoke a GET request to the API with the header in the request.