extends layout

block content
    .centered 
        .statusHeader 
            h1 Document Explorer
            p Explore the ethereum blockchain and its transactions. Additionally, use MetaMask to view stored documents associated with each respective transaction.
        #explorer