@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";

// Buttons
// -------------------------

.btn {
  border-radius: 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.11), 1px 1px 0 rgba(255, 255, 255, 0.21) inset;

  &:focus {
    outline: none;
  }
}

.btn-link {
  box-shadow: none;
}

.btn-raised, .btn-raised:focus, .btn-raised:active, .btn-raised:hover {
  color: rgb(51, 51, 51);
  background-image: linear-gradient(to bottom, #ffffff 60%, #f8f8f8 100%);
  border-color: rgb(204, 204, 204);
}

// Forms
// -------------------------

.form-control:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}

// Alerts
// -------------------------

.alert {
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
}

// Navbar
// -------------------------

.navbar-light {
  border: 0;
  box-shadow: none !important;
  border-bottom: none !important;
  background-color: #282828 !important;
  opacity: 1;
  height: 80px;
  color: #ffffff !important;
  .navbar-nav {
    > li {
      padding-left: 15px;
      padding-right: 15px;
      margin-top: -15px;
    }
    > li > a {
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s linear;
      padding: 0 !important;
    }
    .nav-link {
      color: white;
      text-transform: default !important;
      border-bottom: 2px solid transparent;
    }
    .nav-link:visited {
      color: white;
    }
    .nav-link:hover {
      color: white;
      border-bottom: 2px solid #ffffff;
    }
  }
  .navbar-brand {
    color: $navbar-light-color;
    line-height: 20px;
    width: 20%;
    margin-top: -10px;

    img {
      width: 70%;
    }
  }
  .navbar-toggler {
    border-bottom-color: rgb(221, 221, 221);
    color: rgb(51,51,51);
  }
  .navbar-toggler:focus {
    background: rgb(221, 221, 221);
  }

  .navbar-toggler:hover {
    background: rgb(221, 221, 221);
  }
}

.navbar-toggler-icon {
  color: rgb(51,51,51);
}

.dropdown-item {
  > a {
    color: black;
    text-decoration: none;
  }
}

.dropdown-menu {
  left: initial;
  right: 0; /* add right with 0 or a low pixel value */
}
#signInButton {
  background-color: #282828;
  padding-top: 6px !important;
  padding-bottom: 7px !important;
  padding-right: 9px !important;
  padding-left: 8px !important;
  border-radius: 5px;
  border: 2px solid #0bd691;
  color: #0bd691;
}
#signInButton:hover {
  transition: 0.3s ease;
  background-color: #0bd691 !important;
  color: #282828;
}
#signUpButton {
  background-color: #0bd691;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  border-radius: 5px;
  color: #282828;
  margin-left: -10px !important;
}
#signUpButton:hover {
  background-color: #25f4af !important;
  opacity: 0.8s !important;
  transition: 0.3s ease;
  padding-top: 8px !important;
  padding-bottom: 9px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  border-radius: 5px;
  color: #282828;
  border-bottom: 0px !important;
}
#pushOver {
  position: absolute;
  top: 40;
  right: 0;
  padding-right: 330px;
}
.dropdown {
  color: #0bd691;
  background-color: #333333;
  border-radius: 5px;
  height: 50px;
  width: 220px;
  transform: translateX(10%);

  a {
    border-bottom: none !important;
    margin-top: 11px !important;
  }
  a:hover {
    border-bottom: none !important;
  }
  a > img {
    border-radius: 50%;
    margin-top: -18px;
    margin-left: 0px;
  }
  a > span {
    color: #0bd691 !important;
    margin-top: 10px !important;
  }
}

.dropdown:hover {
  background-color: #404040 !important;
  color: #0bd691;
}
.dropdown-menu {
  background-color: #404040 !important;
  color: white !important;
  margin-top: -2px;

  li > a {
    color: white !important;
  }

  li:hover {
    background-color: #4d4d4d !important;
  }
}
.centered > div > h3 {
  font-size: 22px;
  color: #fff;
  text-align: left;
}
.centered {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20px;
  font-family: 'Helvetica';
}
.statusHeader {
  text-align: center;
  padding-bottom: 20px;
}
.statusHeader > h1 {
  color: #fff;
  font-family: 'Helvetica';
  font-size: 36px;
  font-weight: 500;
}
.statusHeader > p {
  color: #aaa;
  font-family: 'Helvetica';
}
.visualGraph {
  height: 80px;
  width: 100%;
  background-color: #404040;
  border-radius: 5px;
  padding: 5px;
  padding-left: 7px;
  margin-bottom: 10px;
}
.visualGraph > p {
  text-align: left;
}
.leftGraph {
  height: 80%;
  width: 90%;
  float: left;
}
.rightData {
  height: 112%;
  float: left;
  width: 10%;
  margin-top: -22px;
}
.rightData > li {
  display: block;
  margin-top: calc(56% - 5px);
  margin-left: calc(50% - 5px);
  float: left;
  width: 10px;
  height: 10px;
  margin-right: 20px;
  border-radius: 100%;
    background: #0bd691;
  box-shadow: inset 0px 0px 10px 2px rgba(0,255,182,0.5), 0px 0px 10px 2px rgba(0,255,182,0.3);
  -webkit-animation: pulse 1s alternate infinite;
  -moz-animation: pulse 1s alternate infinite;
}
@-webkit-keyframes pulse {
  0% {
    background: rgba(255,255,255,0.3);
    box-shadow: inset 0px 0px 10px 2px rgba(0,255,182,0.5),
                      0px 0px 5px 2px rgba(0,255,182,0.3);
  }
  100% {
    background: rgba(255,255,255,1);
    box-shadow: inset 0px 0px 10px 2px rgba(0,255,182,0.5),
                      0px 0px 15px 2px rgba(0,255,182,1);
  }
}
@-moz-keyframes pulse {
  0% {
    background: rgba(255,255,255,0.3);
    box-shadow: inset 0px 0px 10px 2px rgba(0,255,182,0.5),
                      0px 0px 5px 2px rgba(0,255,182,0.3);
  }
  100% {
    background: rgba(255,255,255,1);
    box-shadow: inset 0px 0px 10px 2px rgba(0,255,182,0.5),
                      0px 0px 15px 2px rgba(0,255,182,1);
  }
}
#mild {
  background: #ffff00 !important;
  box-shadow: inset 0px 0px 10px 2px rgba(255,255,0,0.5), 0px 0px 10px 2px rgba(255,255,0,0.3) !important;
  -webkit-animation: pulse2 1s alternate infinite !important;
  -moz-animation: pulse2 1s alternate infinite !important;
}
@-webkit-keyframes pulse2 {
  0% {
    background: rgba(255,255,255,0.3);
    box-shadow: inset 0px 0px 10px 2px rgba(255,255,0,0.5),
                      0px 0px 5px 2px rgba(255,255,0,0.3);
  }
  100% {
    background: rgba(255,255,255,1);
    box-shadow: inset 0px 0px 10px 2px rgba(255,255,0,0.5),
                      0px 0px 15px 2px rgba(255,255,0,1);
  }
}
@-moz-keyframes pulse2 {
  0% {
    background: rgba(255,255,255,0.3);
    box-shadow: inset 0px 0px 10px 2px rgba(255,255,0,0.5),
                      0px 0px 5px 2px rgba(255,255,0,0.3);
  }
  100% {
    background: rgba(255,255,255,1);
    box-shadow: inset 0px 0px 10px 2px rgba(255,255,0,0.5),
                      0px 0px 15px 2px rgba(255,255,0,1);
  }
}
#severe {
  background: #ff3b30 !important;
    box-shadow: inset 0px 0px 10px 2px rgba(255,0,0,0.5), 0px 0px 10px 2px rgba(255,0,0,0.3) !important;
  -webkit-animation: pulse3 1s alternate infinite !important;
  -moz-animation: pulse3 1s alternate infinite !important;
}
@-webkit-keyframes pulse3 {
  0% {
    background: rgba(255,255,255,0.3);
    box-shadow: inset 0px 0px 10px 2px rgba(255,0,0,0.5),
                      0px 0px 5px 2px rgba(255,0,0,0.3);
  }
  100% {
    background: rgba(255,255,255,1);
    box-shadow: inset 0px 0px 10px 2px rgba(255,0,0,0.5),
                      0px 0px 15px 2px rgba(255,0,0,1);
  }
}
@-moz-keyframes pulse3 {
  0% {
    background: rgba(255,255,255,0.3);
    box-shadow: inset 0px 0px 10px 2px rgba(255,0,0,0.5),
                      0px 0px 5px 2px rgba(255,0,0,0.3);
  }
  100% {
    background: rgba(255,255,255,1);
    box-shadow: inset 0px 0px 10px 2px rgba(255,255,0,0.5),
                      0px 0px 15px 2px rgba(255,255,0,1);
  }
}
.visualGraph > p {
  color: #737373;
  line-height: 0;
  padding-top: 7.5px;
}
#explorer {
  line-height: 1.8;
  border-radius: 8px;
  max-width: 100% !important;
  background-blend-mode: darken;
  background-color: rgb(64,64,64);
}
#explorer > table > tbody > tr > td > a {
color: #25f4af !important;
}
#explorer > table > tbody > tr > td > .tx-date > a {
color: #25f4af !important;
}
#explorer .txs.big-screen-table td .tx-amount{
  display: inline-block;
  width: 150px;
  white-space: nowrap;
}
#explorer .txs.big-screen-table td .tx-link{
  max-width: 120px;
}
#explorer .txs.big-screen-table td .tx-link:last-child{
  max-width: 150px;
}
#explorer .txs.big-screen-table td .tx-amount a:nth-child(1){
  max-width: 110px !important;
}
#explorer .txs.big-screen-table td .tx-amount  a:nth-child(2){
  max-width: 50px !important;
}
#ethpLink {
display: none;
}
.leftGraph > h5 {
  text-align: left;
  margin-top: 5px;
  color: #ffffff;
}
.highlight {
  color: #0bd691;
}
.highlightYellow {
  color: #ffff00;
}
.highlightRed {
  color: #ff3b30;
}
.signInBubble {
  width: 800px;
  height: 500px;
  background-color: #404040;
  border-radius: 5px;
  margin-left: 12%;
  margin-top: 3%;
}
.leftForm {
  width: 400px;
  height: 100%;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #4d4d4d;
  color: #ffffff !important;
  padding-left: 35px;
  padding-right: 10px;
  padding-top: 50px;
}
.form-control {
  width: 365px !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #595959;
  padding-left: 10px;
  border: none;
  color: #fff;
}
.forgotPass {
  color: #0bd691 !important;
  margin-left: 42%;
}
#submitButton {
  width: 365px !important;
  margin-left: -15px;
  border: 2px solid #0bd691;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #404040;
  color: #0bd691;
  border-right: none;
}
#submitButton:hover {
  background-color: #0bd691;
  color: #404040;
}
#submitButtonSignUp {
  width: 365px !important;
  margin-left: -97px;
  border: 2px solid #0bd691;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #404040;
  color: #0bd691;
  border-right: none;
}
#submitButtonSignUp:hover {
  background-color: #0bd691;
  color: #404040;
}
.form-control:focus {
  background-color: #737373; 

}
.leftForm > h2 {
  font-family: 'Helvetica';
}
.leftForm > p {
  font-family: 'Helvetica';
  color: #aaa;
}
.rightForm {
  width: 400px;
  height: 100%;
  background-image: url("https://i.imgur.com/2GsgOVL.jpg");
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  float: left;
  background-color: #ccc;
  background-size: cover;
  background-color: rgba(11,214,145,0.6); // Tint color
  background-blend-mode: multiply;
}
.colormewhite {
  color: #ffffff !important;
}
#actualGraph {
  height: 280px;
}
.ct-label {
  color: #ffffff !important;
}
.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: #0bd691 !important;
}

.ct-series-a .ct-area {
  fill: #0bd691 !important;
}

.ct-series-b .ct-line,
.ct-series-b .ct-point {
  stroke: #09aa74 !important;
}
.ct-series-b .ct-area {
  fill: #09aa74 !important;
}
.leftContent {
  width: 45%;
  height: 100%;
  float: left;
  font-family: 'Helvetica' !important;
  margin-top: 20%;
}
.leftContent > h1 {
  font-size: 60px;
  font-weight: 900;
  color: #0bd691;
  line-height: 55px;
}
.leftContent > p {
  color: #aaa;
  font-size: 18px;
}
.rightContent {
  width: 55%;
  height: 100%;
  float: left;
}
.rightContent > img {
  width: 87%;
  margin-top: 15%;
  margin-left: 5%;
}
.custombutton2 {
  text-decoration: none;
  transform: translateX(10%);
}
.custombutton2:hover {
  text-decoration: none !important;
}
iframe {
  border: none;
  background-color: #404040;
  border-radius: 5px;
}
.leftFloated {
  text-align: left;
  margin-left: 15px;
}
.leftFloated > a {
  color: #0df2a6;
}
.leftFloated > div > h3 {
  color: #ffffff !important;
  font-family: 'Helvetica';
  font-size: 20px;
}
.leftFloated > div {
  margin-top: 25px;
}
.leftFloated > div > p {
  color: #aaa !important;
  font-family: 'Helvetica';
}
